print("Hello from {{module_name}}!")

def {{module_name}}():
    return "Hello from {{module_name}}!"

def {{module_name}}2():
    return "Hello from {{module_name}}2!"

def main():
    """MY MAIN"""
    print({{module_name}}())
    print({{module_name}}2())

if __name__ == "__main__":
    # execute only if run as a script
    main()