
from {{project_name}}.{{module_name}} import {{module_name}}, {{module_name}}2

def test_{{module_name}}():
    assert {{module_name}}() == "Hello from {{module_name}}!"


def test_{{module_name}}2():
    assert {{module_name}}2() == "Hello from {{module_name}}2!"

